@model Candles_Database.Models.CandleTypeViewModel

@{
    ViewData["Title"] = "Candle Catalogue";
}

<h1>Candle Catalogue</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Candles" asp-action="Index" method="get">           <!--Added the form to allow users to search-->
    <p>
        <select asp-for="CandleType" asp-items="Model.Types">
            <option value="">ALL</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candle[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candle[0].canType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candle[0].Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candle[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candle[0].UserRating)   <!--I changed this from just "Rating" to "UserRating"-->
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Candle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.canType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRating)      
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
